body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#opponent-choice{
    width:230px;
    height:240px;
    margin: 10px;
    background-color: rgb(29, 87, 158);
    
   
}
#opponent-score {
    border: 1px solid black;
    border-width: 2px;
   height: 40px;
   width:50px;
   background-color: rgb(159, 40, 98);
   position: relative;
}
#opponent-score::before{
    content: "Computer";
    position: absolute;
    top:-23px;
    left:-4px;
    font-size: 13px;
    text-shadow: rgb(59, 96, 49) 1px 3px 2px;
}
#your-score{
    border: 1px solid rgb(218, 15, 123);
    border-width: 2px;
   height: 40px;
   width:50px;
   background-color: rgb(24, 168, 178);
   position:relative;

}
#your-score::before{
    content: "You";
    position: absolute;
    top:-21px;
    font-size: 13px;
    text-shadow: rgb(212, 43, 17) 1px 3px 2px;
}

#your-choice{
    width:230px;
    height:240px;
    margin: 10px;
    background-color: rgb(120, 19, 120);
   
   
}
.main-h1{
    text-decoration: underline rgb(127, 127, 164);
    
}

#choices{
    width:240px;
    height:80px;
    margin-top: 10px;
   display: flex;
   padding: 15px;
    margin: 0 auto;
    cursor: pointer;

}

#choices img{
    width:90px;
    height:90px;
    

}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 81, 0)
}
h3{
    color: rgb(3, 217, 241);
}